/* =========== home page ========= */

/* ===========           ========= */

/* showcase */

#showcase {
    height: 80vh;
}

#showcase .showcase-info {
    height: 50vh;
}

#showcase .showcase-info h1 {
    font-size: 2rem;
}

/* info section */

#info .content-image {
    display: none;
}

#info .content-info {
    width: 100%;
    padding: 20px 20px 10px;
}

/* features */

#features {
    display: block;
}

#features .box {
    display: block;
    width: 100%;
}

/* =========== about page ========= */

/* ===========           ========= */

#about-info .container {
    display: block;
}

#about-info .info-left h1 {
    font-size: 2rem;
}

#about-info .info-left {
    width: 100%;
}

#about-info .info-right {
    width: 100%;
}

/* testimonials */

#testimonials .testimonial img {
    max-width: 40%;
}

#testimonials h2 {
    font-size: 1.5rem;
}